body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 160px;
    height: auto;
    object-fit: fill;
    border-radius: 22px;
    box-shadow: 0 4px 6px -1px #F0FFCE, 0 2px 4px -2px #F0FFCE;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    justify-content: space-around;
    
    text-align: center;
    color: #DBC2CF;
    
    border-radius: 8px;
    border-bottom: 6px solid #F0FFCE;
    background: #931621;
    
    box-shadow: 0 4px 6px -1px #545E56, 0 2px 4px -2px #545E56;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
     transition: all 250ms ease-in-out;
}
.card>div>*:hover {
    color: #C6ECAE;  
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
